# Para utilizar la aplicacion necesitas:
# GEMINI_API_KEY= "Tu clave"
# USDA_API_KEY= "Tu clave"

# CONFIGURACIÓN DE LA BASE DE DATOS LOCAL (MySQL)
#DB_HOST=""
#DB_PORT=""
#DB_USER=""
#DB_PASS=""
#DB_NAME=""